.main {
    width: 100%;
    margin: 0 auto
}

.hero {
    text-align: center;
    padding-top: 4rem;
    background: #FBFBFC;
    width: 100%;
}

.hero-top{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.hero-top-text{
    display: flex;
    flex-direction: column;
    width: 38%;
}

.hero-title {
    font-size: 3.5em;
    margin-bottom: 1.5rem;
    color: #000;
    line-height: 1.2;
    text-align: start;
}

.hero-title::after {
    content: "in seconds.";
    background-color: #ffeb3b;
    color: #000;
    padding: 2px 6px;
    border-radius: 3px;
}

.hero-description {
    font-size: 1.2em;
    margin-bottom: 2.5rem;
    color: #666;
    width: 85%;
    text-align: start;
}

.cta-section {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    width: 60%
}

.email-input {
    flex: 1;
    padding: 0.8rem 1rem;
    border: 1px solid #0066FF;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 1em;
}

.cta-button {
    background-color: #0066FF;
    color: white;
    padding: 0.8rem 1.5rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: 500;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.cta-button::after {
    content: "→";
    margin-left: 0.32rem;
}

.cta-button:hover {
    background-color: #394fcf;
}

.features {
    display: flex;
    justify-content: start;
    gap: 2em;
    margin-bottom: 4rem;
    flex-wrap: wrap;
}

.feature {
    display: flex;
    align-items: center;
    gap: 0.5em;
    color: #666;
}

.feature-icon {
    color: #000000ff;
    font-weight: bold;
}

.hero-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    padding: 2rem 0;
}

.hero-bottom-text {
    font-size: 1.2em;
    color: #999;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.hero-bottom-logos img{
    margin-left: 3rem;
}

.hero-bottom-logos img:first-child{
    margin-left: 0;
}



.widgets-section{
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 8rem 0;
    gap: 3rem;
}

.widgets-section-text{
    width: 20%;
}

.widgets-section-text h2{
    font-size: 3em;
    margin-bottom: 1.5rem;
    color: #000;
    line-height: 1.2;
    text-align: start;
}

.widgets-section-text-icons{
    margin-top: 3rem;
}

.widgets-section-text-icon{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
    transition: background-color 0.5s ease;
}

.widgets-section-text-icon:hover{
    background: #F4F6FA;
    padding: 1rem;
    color: #0066FF;
}

.widgets-section-text-icon p{
    font-size: 1.2em;
}




.let-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 4rem 0;
    background: #EEF1F7;
}

.let-section h2 {
    font-size: 3em;
    color: #000;
    line-height: 1.2;
    text-align: start;
}

.let-section h2::after {
    content: "more than 24h.";
    background-color: #ffeb3b;
    color: #000;
    padding: 2px 6px;
    border-radius: 3px;
}

.let-section p {
    font-size: 1.2em;
    margin-bottom: 2.5rem;
    color: #666;
    width: 85%;
    text-align: center;
}

.let-section-blocks{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 80%;
}

.let-section-block{
    background-color: #fff;
    border-radius: 1rem;
    padding: 2rem;
    width: 20%;
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.let-section-block:hover{
    transform: translateY(-5px);
}

.let-section-block p{
    margin: 0;
}



.section-double{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    padding: 8rem 0;
    width: 100%;
}

.section-double-title h2, .section-double-title h3 {
    font-size: 3em;
    margin-bottom: 1rem;
    color: #000;
    line-height: 1.2;
    text-align: center;
}

.section-double-title h2::after {
    content: "conversions.";
    background-color: #ffeb3b;
    color: #000;
    padding: 0 6px;
    border-radius: 3px;
}

.section-double-title h3::after{
    content: "growth.";
    background-color: #ffeb3b;
    color: #000;
    padding: 0 6px;
    border-radius: 3px;
}

.section-double-blocks{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 2rem;
}

.section-double-block{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 1rem;
    background: #EEF1F7;
    border-radius: 1rem;
    padding: 1rem;
    width: 22%;
}

.section-double-block h3{
    font-size: 2em;
    color: #000;
    line-height: 1.2;
    text-align: start;
}

.section-double-block-text p{
    margin-top: 0.5rem;
    font-size: 1.1em;
}

.section-double-block-text-img{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}

.section-double-block-text-img p{
    font-size: 1.5em;
    color: #000;
    margin: 0;
    line-height: 1.2;
    text-align: start;
}

.section-double-review{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 30%;
}

.section-double-review p{
    text-align: center;
    font-size: 1.2em;
    color: #000;
    line-height: 1.2;
}

.section-double-review-man{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}




.started-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    padding: 8rem 0;
    width: 100%;
    background: #111827;
}

.started-section-text h2 {
    font-size: 3.5em;
    margin-bottom: 1.5rem;
    color: #fff;
    line-height: 1.2;
    text-align: center;
}

.started-section-text p{
    font-size: 1.2em;
    margin-bottom: 1.5rem;
    color: #fff;
    text-align: center;
}

.started-section-pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.started-section-slider{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.started-section-slide{
    background-color: #fff;
    border-radius: 1rem;
    padding-bottom: 2rem;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.started-section-slide img{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 100%;
}

.started-section-slide-text{
    padding: 0 2rem;
}

.started-section-slide-text h2{
    font-size: 2em;
    color: #000;
    margin-bottom: 1rem;
    line-height: 1.2;
    text-align: start;
}

.started-section-slide-text p{
    font-size: 1.2em;
    color: #000;
    line-height: 1.2;
    text-align: start;
}

.started-section-pagination-drill span:first-child{
    color: #fff;
}